body{
    background-color: rgb(175, 104, 104);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
canvas{
    margin-bottom: 10px;
    margin-top: 10px;
}